.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Colors */

.bg-sky-blue {
  background-color: #78C0E0;
}
.bg-persian-blue {
  background-color: #192BC2;
}
.bg-midnight-blue {
  background-color: #0E0E52;
}

.bg-black {
  background-color: #32292F;
}
.bg-blue-green {
  background-color: #99E1D9;
}
.bg-cream {
  background-color: #F0F7F4;
}
.bg-cadet-blue {
  background-color: #70ABAF;
}
.bg-umber {
  background-color: #705D56;
}

.max-width-720 {
  max-width: 720px !important;
}

/* Text */

.text-justify {
  text-align: justify;
}

.about-me-img {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

/* Projects */

.projects-container {

}

.project-card::before {
  content: '';
  position: absolute;
  background-color: rgba(1, 1, 1, 0.5);
  transition: all 250ms ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
.project-card:hover::before{
  cursor: pointer;
  background-color: rgba(1, 1, 1, 0.1);
  transition: all 250ms ease-in-out;
}
.projects-github-icon {
  top: 10px;
  right: 10px;
  position: absolute;
  color: white;
  width: 30px;
  height: 30px;
}

.projects-container {
  display: grid;
  gap: 20px;
}

/* Projects MQs*/

@media (min-width: 768px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .whistle-card {
  width: 50%;
  grid-column: 1 / 3;
  margin-left: auto;
  margin-right: auto;
  }
}

.container-form {
  max-width: 540px !important;
}

.footer-icons {
  color: white;
  width: 50px;
  height: 50px;
}

.footer-icons:hover, .projects-github-icon:hover {
  color: #6c757d;
  cursor: pointer;
}

